In [2]:
import sys
import os
import pandas as pd
import json

### Import project-example code (https://stackoverflow.com/questions/49264194/import-py-file-in-another-directory-in-jupyter-notebook)
# module_path = os.path.abspath(os.path.join('..'))
# if module_path not in sys.path:
#     sys.path.append(module_path+"\\example_code")
# import project_example
### This loads all the data-files in active1000 folder
# df = project_example.load_data('../data/active1000')


# TODO: now only loads one day
map_lst = []
for line in open('../data/active1000/20170101'):
    obj = json.loads(line.strip())
    if not obj is None:
        map_lst.append(obj)
df = pd.DataFrame(map_lst)

df.shape
df.head()

,eventId,category,activeTime,title,url,userId,publishtime,time,documentId
0,2029361762,None,NaN,None,http://adressa.no,cx:i9i5zdr4ns9bm4ky:2by1rj0hmjgy,None,1483225227,None
1,351617637,None,41.0,None,http://adressa.no,cx:iimz2wwcwxu7d721:2r8odp9zhg5yp,None,1483225320,None
2,483221791,None,NaN,None,http://adressa.no/nyheter/trondheim/2016/12/31...,cx:iimz2wwcwxu7d721:2r8odp9zhg5yp,None,1483225328,None
3,929295193,None,11.0,None,http://adressa.no,cx:idlec1eyfbpru62o:2yhui5zv6k12b,None,1483225334,None
4,1908339310,None,NaN,None,http://adressa.no/pluss/kultur/2016/12/31/bare...,cx:iimz2wwcwxu7d721:2r8odp9zhg5yp,None,1483225387,None

### random stats

In [28]:

docID_not_null = df[df['documentId'].notnull()].shape[0]
homepage_with_docID = df[df['documentId'].notnull() & (df['url'] == 'http://adressa.no')].shape[0]
isHomepage = df[df['url'] == 'http://adressa.no'].shape[0] 
isArticle_and_DocID_isNull = df[df['documentId'].isnull() & (df['url'] != 'http://adressa.no')].shape[0]
isArticle = df[df['url'] != 'http://adressa.no'].shape[0]
isArticle_category_isNull = df[df['category'].isnull() & (df['url'] != 'http://adressa.no')].shape[0]
isArticle_noTitle = df[df['title'].isnull() & (df['url'] != 'http://adressa.no')].shape[0]
print(f'total num: {df.shape[0]}')
print(f'DocID not null: {docID_not_null}')
print(f'isHomepage: {isHomepage}')
print(f'homepage with docID: {homepage_with_docID}')
print(f'isArticle: {isArticle}')
print(f'isArticle and docId isnull: {isArticle_and_DocID_isNull}')
print(f'isArticle and category isnull: {isArticle_category_isNull}')
print(f'isArticle and noTitle: {isArticle_noTitle}')

total num: 25536
DocID not null: 8001
isHomepage: 12472
homepage with docID: 0
isArticle: 13064
isArticle and docId isnull: 5063
isArticle and category isnull: 7884
isArticle and noTitle: 5063

### Checking out categories

In [27]:
df_categories = df[df['category'].notnull()]
df_categories.head()

,eventId,category,activeTime,title,url,userId,publishtime,time,documentId
32,1445037239,nyheter|innenriks,NaN,Én av tre nordmenn vil trene mer i 2017,http://adressa.no/nyheter/innenriks/2016/12/31...,cx:1a14ikdig4lse1yr7x4flb13dd:fo6lrl3k2wob,2016-12-31T22:47:54.000Z,1483225613,080b1bbe40a36dda8cf11482647b8b534fec2226
42,24027473,100sport|sjakk,90.0,På dette bildet skiller Magnus Carlsen seg ut:...,http://adressa.no/100sport/sjakk/pa-dette-bild...,cx:1e1f63c523ffl2soio74f5sp5n:bdwc2uq43w9w,2016-12-31T16:12:10.000Z,1483225658,05e4209b296dc7dfc9d4e0c401d79256bcea4cb5
50,330189993,nyheter|trondheim,NaN,- Det blir fyrverkeri,http://adressa.no/nyheter/trondheim/2016/12/31...,cx:1m0dupfv97gglk5u9yfw65lhl:2sjgjqpk418jv,2016-12-31T15:48:48.000Z,1483225723,2607fc7d7b4c0ede839a5ff6d499fa428237443e
84,670227815,nyheter|innenriks,NaN,Én av tre nordmenn vil trene mer i 2017,http://adressa.no/nyheter/innenriks/2016/12/31...,cx:if18acolhbyfdhug:1rng4vxjk91f2,2016-12-31T22:47:54.000Z,1483225902,080b1bbe40a36dda8cf11482647b8b534fec2226
110,1329919923,nyheter|innenriks,NaN,Én av tre nordmenn vil trene mer i 2017,http://adressa.no/nyheter/innenriks/2016/12/31...,cx:3qgspqpx3bs6r15a2s9wjs8vnx:ld7dxj2thh73,2016-12-31T22:47:54.000Z,1483226014,080b1bbe40a36dda8cf11482647b8b534fec2226