In [2]:
import numpy as np
import sklearn as sk
import pandas as pd
import os
import json

In [3]:
### Import project-example code (https://stackoverflow.com/questions/49264194/import-py-file-in-another-directory-in-jupyter-notebook)
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"\\example_code")
from project_example import *
## This loads all the data-files in active1000 folder
df = load_data('../data/active1000')

In [4]:
df = load_data("../data/active1000")

In [5]:
df.head()

,eventId,category,activeTime,title,url,userId,publishtime,time,documentId
0,2029361762,None,NaN,None,http://adressa.no,cx:i9i5zdr4ns9bm4ky:2by1rj0hmjgy,None,1483225227,None
1,351617637,None,41.0,None,http://adressa.no,cx:iimz2wwcwxu7d721:2r8odp9zhg5yp,None,1483225320,None
2,483221791,None,NaN,None,http://adressa.no/nyheter/trondheim/2016/12/31...,cx:iimz2wwcwxu7d721:2r8odp9zhg5yp,None,1483225328,None
3,929295193,None,11.0,None,http://adressa.no,cx:idlec1eyfbpru62o:2yhui5zv6k12b,None,1483225334,None
4,1908339310,None,NaN,None,http://adressa.no/pluss/kultur/2016/12/31/bare...,cx:iimz2wwcwxu7d721:2r8odp9zhg5yp,None,1483225387,None

In [6]:
df.describe()

            eventId    activeTime          time
count  2.207608e+06  1.351878e+06  2.207608e+06
mean   1.073690e+09  4.435958e+01  1.487126e+09
std    6.197432e+08  6.342047e+01  2.245535e+06
min    7.100000e+01  1.000000e+00  1.483225e+09
25%    5.369342e+08  8.000000e+00  1.485195e+09
50%    1.074255e+09  2.200000e+01  1.487139e+09
75%    1.609982e+09  5.300000e+01  1.489062e+09
max    2.147483e+09  8.990000e+02  1.490998e+09

In [7]:
df.dtypes

eventId          int64
category        object
activeTime     float64
title           object
url             object
userId          object
publishtime     object
time             int64
documentId      object
dtype: object

In [8]:
np.unique(df[pd.notnull(df.category)].category)

array(['100sport|andreidretter', '100sport|ballsport', '100sport|fotball',
       '100sport|idrettspolitikk', '100sport|kampsport',
       '100sport|meninger', '100sport|mesterskap', '100sport|motorsport',
       '100sport|sjakk', '100sport|sprek', '100sport|sykkel',
       '100sport|vintersport', 'bil|veteran', 'bolig|boligguiden',
       'forbruker|digital', 'forbruker|fritid', 'forbruker|hjem',
       'forbruker|livsstil', 'forbruker|personlig okonomi',
       'forbruker|sexogsamliv', 'kultur|anmeldt', 'kultur|aretstronder',
       'kultur|bok', 'kultur|festivaler', 'kultur|film', 'kultur|musikk',
       'kultur|rockamiddag', 'kultur|scene', 'kultur|spill', 'kultur|tv',
       'kultur|utawards', 'kultur|uteliv', 'kultur|utguiden',
       'kultur|vin', 'meninger|annenside', 'meninger|kommentarer',
       'meninger|kronikker', 'meninger|leder', 'meninger|ordetfritt',
       'meninger|snakkut', 'migration catalog|kultur',
       'migration catalog|midt-norge', 'migration catalog|trondheim',
       'migration catalog|utenriks', 'nyheter|adressa noogda',
       'nyheter|dokument', 'nyheter|helse', 'nyheter|innenriks',
       'nyheter|innsyn', 'nyheter|kuriosa', 'nyheter|moreromsdal',
       'nyheter|nordtrondelag', 'nyheter|okonomi', 'nyheter|oppdraget',
       'nyheter|politikk', 'nyheter|psykiatri', 'nyheter|sortrondelag',
       'nyheter|terrorangrepet', 'nyheter|trondheim', 'nyheter|utenriks',
       'omadresseavisen|arrangementer', 'pluss|kultur', 'pluss|magasin',
       'pluss|meninger', 'pluss|nyheter', 'pluss|okonomi', 'pluss|serier',
       'pluss|sport', 'sport|friidrett', 'sport|langrenn', 'sport|sprek',
       'tema|arets tronder', 'tema|kvinner', 'tema|makteliten',
       'tema|villeveier', 'tjenester|bildeserier',
       'tjenester|konkurranser', 'vaeret|klima'], dtype=object)

In [10]:
df[pd.notnull(df.category)].category.count()

609850

In [12]:

###### Get Statistics from dataset ############
##print("Basic statistics of the dataset...")
#statistics(df)

###### Recommendations based on Collaborative Filtering (Matrix Factorization) #######
print("Recommendation based on MF...")
collaborative_filtering(df)

###### Recommendations based on Content-based Method (Cosine Similarity) ############
print("Recommendation based on content-based method...")
#content_recommendation(df, k=20)

Recommendation based on MF...
Iteration: 1
Train mse: 0.6009370665250003
Test mse: 0.6912757333170384
Iteration: 2
Train mse: 0.5350446511354616
Test mse: 0.6446148192027251
Iteration: 5
Train mse: 0.513323503205221
Test mse: 0.6301613333670117
Iteration: 10
Train mse: 0.5100358110038703
Test mse: 0.6267783361691239
Iteration: 25
Current iteration: 10
Train mse: 0.509245310298726
Test mse: 0.6253498994868906
Iteration: 50
Current iteration: 10
Current iteration: 20
Train mse: 0.5091233888893163
Test mse: 0.6252857507230952
Iteration: 100
Current iteration: 10
Current iteration: 20
Current iteration: 30
Current iteration: 40
Current iteration: 50
Train mse: 0.5090868115524179
Test mse: 0.6253498735721402
Recommendation based on content-based method...